# Build Folders
**/bin/
**/obj/

# Visual Studio files
.vs/
*.user
*.userosscache
*.sln.docstates

# IDE/Editor files
.vscode/
.idea/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# OS files
.DS_Store
Thumbs.db